@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 70em;
    margin: 0 auto;

    font-family: Roboto;

    background-color: rgb(26, 55, 59);
}

/* header styles start here */

.header-container {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;

    width: 100%;

    background-color: rgb(135, 175, 98);
}

.header-logo {
    position: relative;

    height: 75px;
    width: auto;
    margin: 1em 2em -2.5em 2em;

    border: solid 4px lightpink;
    border-top: none;
    border-radius: 50%;
    outline: dotted 4px lightgoldenrodyellow;

    transition: outline-color 500ms ease-in-out;
    transition-delay: 50ms;
}

.header-logo:hover, .header-logo:focus {
    outline-color: pink;
}

.header-nav {
    display: flex;
    flex-direction: row;

    margin: 0.5em 1.5em;
    gap: 1.5em;

    list-style: none;
}

.nav-link {
    position: relative;

    text-decoration: none;
    padding: 0;

    color: rgb(49, 49, 49);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5em;

    width: 100%;
    height: 2px;

    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.nav-link:hover, .nav-link:focus {
    color: black;
}

.nav-link:hover::after, .nav-link:focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* banner styles start here */

.banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    border-radius: 0 0 10px 10px;

    background-color: rgb(168, 204, 134);
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info styles start here */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    margin: 1em 0;
    padding: 0.5em;

    background: none;
}

.info-card-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;

    gap: 2em;
}

.info-card {
    display: flex;
    flex-direction: column;

    width: 200px;
    margin: 1em;
    padding: 0.5em;
    gap: 0.5em;
}

.info-card-image {
    width: auto;
    height: 200px;

    border: solid 1px white;
    border-radius: 8px;
}

.info-card-text {
    width: auto;
    
    color: white;
    border-radius: 8px;

    text-align:center;
}

/* quote styles start here */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: lightgrey;
}

/* call-to-action styles start here */

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: white;
}

.cta-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 70%;
    gap: 10em;
    margin: 6em auto;
    padding: 2em 3em;

    background-color: blue;
}

.cta-text-container {
    display: flex;
    flex-direction: column;
}

/* footer styles start here */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: auto;

    background-color: grey;
}