@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 70em;
    margin: 0 auto;
}

/* header styles start here */

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: grey;
}

.header-nav {
    display: flex;
    flex-direction: row;

    gap: 1.5em;

    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding: 0;
}

.nav-link:hover, .nav-link:focus {
    color: red;
}

/* banner styles start here */

.banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    background-color: grey;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info styles start here */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: white;
}

.info-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.info-card {
    display: flex;
    flex-direction: column;

    width: 200px;
    margin: 1em;
    padding: .5em;

    background-color: lightpink;
}

/* quote styles start here */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: lightgrey;
}

/* call-to-action styles start here */

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: white;
}

.cta-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    gap: 20em;
    margin: 4em auto;
    padding: 4em 10em;

    background-color: blue;
}

.cta-text-container {
    display: flex;
    flex-direction: column;
}

/* footer styles start here */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: auto;

    background-color: grey;
}