@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
    --main-bg-color: rgb(26, 55, 59);
    --header-bg-dark: rgb(135, 175, 98);
    --header-bg-light: rgb(168, 204, 134);
    --banner-bg-color: rgb(250, 250, 210);
    --button-color: rgb(135, 175, 98);
    --button-color-hover: rgba(57, 43, 255, 0.2);
    --button-color-active: rgba(240, 237, 69, 0.2);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 40em;
    max-width: 70em;
    margin: 0 auto;

    font-family: Roboto;
    background-color: var(--main-bg-color);
}

/* header styles start here */

.header-container {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    z-index: 999;

    width: 100%;

    background: linear-gradient(to left, var(--header-bg-dark), var(--header-bg-light) 90%);
    box-shadow: 0 1px 8px rgba(0,0,0,0.8);
}

.header-logo {
    position: relative;

    height: 75px;
    width: auto;
    margin: 1em 2em -1.5em 3.5em;

    border: solid 6px var(--header-bg-light);
    border-radius: 50%;
    /* outline: dotted 3px var(--banner-bg-color); */
    box-shadow: 0 1px 4px rgba(0,0,0,0.8);

    transition: border-color 300ms ease-in-out;
}

.header-logo:hover, .header-logo:focus {
    border-color: pink;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    margin: 0.5em 3em 0.5em 0;
    gap: 1.5em;

    list-style: none;
}

.nav-link {
    position: relative;

    text-decoration: none;
    padding: 0;

    color: rgb(49, 49, 49);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5em;

    width: 100%;
    height: 2px;

    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.nav-link:hover, .nav-link:focus {
    color: black;
}

.nav-link:hover::after, .nav-link:focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* banner styles start here */

.banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    /* padding: 0.5em; */
    border-radius: 0 0 10px 10px;

    background-color: var(--banner-bg-color);
    /* background: linear-gradient(to left, var(--header-bg-dark), var(--header-bg-light) 90%); */
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: space-between;

    width: 40%;
    height: 100%;
    min-height: 22.5em;
    /* margin-top: 1em; */
    padding: 1em 3em 3em 3em;
    gap: 1em;
}

.banner-header {
    
}

.banner-text {
    
}

/* button styles start here */

.banner-signup-button {
    position: relative;

    width: 8em;
    padding: 0.2em 1em;

    border: solid 1px var(--main-bg-color);
    border-radius: 4px;
    background-color: var(--header-bg-light);
}

.banner-signup-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;

    border-radius: 4px;
    background-color: var(--button-color-hover);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.banner-signup-button:hover::after {
    transform: scaleX(1);
}

.banner-signup-button:active {
    background-color: var(--button-color-active);
    transform: translateY(1px);
    box-shadow: 0 -1px var(--button-color);
}

.banner-signup-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 300ms;
}

.banner-signup-button span::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: -1px;
    right: -0.7em;
    transition: 300ms;
}

/* button styles end here */

.banner-signup-button:hover span {
    padding-right: 2em;
}

.banner-signup-button:hover span::after {
    opacity: 1;
    right: -0.5em;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60%;
    height: auto;
    margin: 2em 3em 3em 0;
    border-radius: 0 0 10px 0;
}

/* info styles start here */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    margin: 1em 0;
    padding: 0.5em;

    background: none;
}

.info-card-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;

    gap: 2em;
}

.info-card {
    display: flex;
    flex-direction: column;

    width: 200px;
    margin: 1em;
    padding: 0.5em;
    gap: 0.5em;
}

.info-card-image {
    width: auto;
    height: 200px;

    border: solid 1px white;
    border-radius: 8px;
}

.info-card-text {
    width: auto;
    
    color: white;
    border-radius: 8px;

    text-align:center;
}

/* quote styles start here */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: lightgrey;
}

/* call-to-action styles start here */

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: white;
}

.cta-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 70%;
    gap: 10em;
    margin: 6em auto;
    padding: 2em 3em;

    background-color: blue;
}

.cta-text-container {
    display: flex;
    flex-direction: column;
}

/* footer styles start here */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: auto;

    background-color: grey;
}